@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/


.container{
    margin-top: 10px;
    width: 300px;
    height: 50px;
    background: #101010;
}

.bigCounter{
          
    display: flex;
    flex-wrap: nowrap;    
    padding-top: 5%;
    
      
}

.four,.three,.two,.one,i{
    margin: auto;
    display: flex;
    color: white;
    

}
